.container{
      background-color:#DCDCDC;
}


.result {
 display: inline-block;
    
    height: 26px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4px;

}


.btn-danger{
	font-family: a_FuturicaLt;
    font-size: 14px;
    color: #fff;
    background-color: #aa0503;
    margin-bottom: 2px;
}


.pass-input{
    font-family: a_FuturicaLt;
    font-size: 20px;
}

.result{
    border: solid black 1px;
}